body {
  margin: 0 auto;
  /*background-image: url('src/assets/soil-association-pigs-1024x768.jpeg');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  min-height: 100vh;
}

h2 {
  margin: 0 auto;
  /*background-image: url('src/assets/soil-association-pigs-1024x768.jpeg');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.bg{
  background-image: url('src/assets/img/notification-backgroup-list.jpg');
  margin: 0 auto;
  /*background-image: url("../../../assets/img/notification-backgroup-list.jpg");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  min-height: 100vh;
}

.container {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  opacity: 94%;
  /*background-image: url('src/assets/img/body/backgroup.jpg');*/
}

td, th{
  text-align: center;
}

th{
  color: white;
}
