<div class="body">
  <div class="vc_empty_space" style="height: 64px"><span class="vc_empty_space_inner"></span></div>
  <div class="container mt-5 pb-2" *ngIf="notifications && notifications.length > 0; else elseBlock">
    <div style="text-align: center; font-size: 30px;" class="mt-3">ĐĂNG THÔNG BÁO</div>
    <form [formGroup]="searchForm" novalidate>
      <div class="col-3 position-relative mx-auto me-3" style=" display: flex">
        <div
          style="display: flex; border: 1px solid;justify-content: space-evenly;width: 65%;border-radius: 8px;margin-right: 4%;">
          <div>
            <input style="border: 0" class="form-control " type="text" placeholder="Tìm Kiếm" formControlName="content"
                   [ngModel]="title"
                   id="content" (keyup)="search()">
          </div>
          <div style="margin-right: 3%;">
            <svg style="width: 20px;height: 20px;margin: 8px auto;" xmlns="http://www.w3.org/2000/svg" width="16"
                 height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </div>
        </div>
        <div>
          <button class="btn btn-outline-success">Tìm Kiếm</button>
        </div>
      </div>
    </form>

    <form #deleteForm="ngForm" (ngSubmit)="checkDelete(deleteForm.value)">
      <div style="color: red" *ngIf="msg" [ngClass]="clss">{{msg}}</div>
      <table class="table table-striped table-hover mt-3 mb-3">
        <thead>
        <tr style="background-color: #017428">
          <th class="text-light">STT</th>
          <th class="text-light">Tiêu đề</th>
          <th class="text-light">Nội dung thông báo</th>
          <th class="text-light">Hình ảnh</th>
          <th class="text-light">Ngày đăng thông báo</th>
          <th></th>
        </tr>
        </thead>
        <tbody>

        <tbody>
        <tr *ngFor="let item of notifications; let i=index">
          <td> {{ (i + 1) + number * 5}}</td>
          <td>{{item.title}}</td>
          <!--          <td>{{(item.title.length > 30) ? (item.title| slice:0:30) + '...' : (item.title)}}</td>-->
          <td>{{(item.content.length > 70) ? (item.content| slice:0:70) + '...' : (item.content)}}</td>
          <td><img src="{{item.image}}" height="30px"/></td>
          <td>{{item.submittedDate | date: 'dd/MM/yyyy' }}</td>
          <td><input *ngIf="item" type="checkbox" ngModel [name]="''+item.id" (ngModelChange)="checkButton(item.id)">
          </td>
        </tr>
        </tbody>
      </table>
      <div style="text-align: center; display: flex; justify-content: center">
        <button class="col-3 btn btn-outline-primary" style="width: auto; margin-right: 5%"
                routerLink="/create" type="button">Thêm mới
        </button>
        <button class="col-3 btn btn-outline-warning" style="width: auto; margin-right: 5%"
                type="button" [routerLink]="['notifications/edit',editId]"
                [disabled]="check.length!=1">Chỉnh sửa
        </button>
        <button class="col-3 btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
                style="width: auto;" type="submit" [disabled]="check.length<1">Xoá
        </button>
      </div>
    </form>
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item " *ngIf="checkPrevious">
          <a class="page-link" (click)="goPrevious()" tabindex="-1">Trang trước</a>
        </li>
        <li class="page-item" *ngIf="checkPrevious"><a class="page-link" (click)="goPrevious()">{{number}}</a></li>
        <li class="page-item active">
          <a class="page-link"> <span class="sr-only">{{number + 1}}</span></a>
        </li>
        <li class="page-item" *ngIf="checkNext"><a class="page-link" (click)="goNext()">{{number + 2}}</a></li>
        <li class="page-item" *ngIf="checkNext">
          <a class="page-link" (click)="goNext()">Trang sau</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn xóa các mục sau</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table>
            <tr *ngFor="let item of nameDelete;let i = index ">
              <td>{{i + 1}}. {{item| slice: 0:20}}....</td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetDelete()">Hủy</button>
          <button type="button" class="btn btn-danger" (click)="deleteId()" data-bs-dismiss="modal">Xóa</button>
        </div>
      </div>
    </div>

  </div>

  <!-- Khi không có dữ liệu thì hiện  -->
  <div style="text-align: center; display: flex; justify-content: center; height: 250px">
    <ng-template #elseBlock>
      <div class="body">
        <div class="container mt-5 pb-2" style="text-align: center">

          <div style="text-align: center; font-size: 30px;" class="mt-3">ĐĂNG THÔNG BÁO</div>
          <form [formGroup]="searchForm" novalidate>
            <div class="col-3 position-relative mx-auto me-4">
              <input type="search" class="input-search form-control" style="width: 250px"
                     placeholder="Tìm kiếm" formControlName="content" [ngModel]="content"
                     (keyup)="search()">
            </div>
          </form>
          <div style="color: red;" class="col-12">
            <h1>Không có thông báo !!!</h1>
            <button class="col-3 btn btn-outline-primary" style="width: auto; margin-right: 5%">Thêm mới</button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="vc_empty_space" style="height: 128px"><span class="vc_empty_space_inner"></span></div>
</div>
