body {
  /*margin: 0 auto;*/
  background-image: url('../../image/little-piggy-987544824-5c8ba8b7c9e77c00014a9d22.jpg');
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
  /*background-size: 100% 100%;*/
}

.container {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  opacity: 90%;
}
