.nav-link, .navbar-brand {
  color: seagreen;
}

.dropdown-menu {
  border-color: seagreen;
}

.bi-search:hover {
  cursor: pointer;
}

.navbar-brand:focus {
  background-color: seagreen;
  color: white;
}

.nav-link:hover {
  background-color: seagreen;
  color: white;
}

.nav-link:focus {
  background-color: seagreen;
  color: white;
}

.navbar {
  background-color: seagreen;
  padding: 0;
}

svg {
  width: 24px;
}

.ads {
  width: 100%;
  height: 100%;
}

.find {
  display: inline-block;
  align-items: center;
  height: 28px;
}

.bi-search {
  width: 28px;
  height: 28px;
}

.bi-search:hover {
  font-weight: bold;
}

@media (max-width: 1133px) {
  .in-responsive {
    font-size: 14px;
  }
}

@media (max-width: 1033px) {
  .in-responsive {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .in-responsive {
    font-size: 16px;
  }
}
