.nav-link, .navbar-brand {
  color: seagreen;
}

/*.navbar-brand:hover {*/
/*  background-color: #FFE421;*/
/*  color: green;*/
/*}*/

.bi-search:hover {
  cursor: pointer;
}

.navbar-brand:focus {
  background-color: seagreen;
  color: white;
}

.nav-link:hover {
  background-color: seagreen;
  color: white;
}

.nav-link:focus {
  background-color: seagreen;
  color: white;
}

.navbar {
  background-color: seagreen;
  padding: 0;
}

svg {
  width: 24px;
}

.ads {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
}

.find {
  display: inline-block;
  align-items: center;
  height: 28px;
}

.bi-search {
  width: 28px;
  height: 28px;
}

.bi-search:hover {
  font-weight: bold;
}
