body, h2 {
  margin: 0 auto;
  /*background-image: url('../img/soil-association-pigs-1024x768.jpeg');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.container {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  opacity: 94%;
}

td, th{
  text-align: left;
}
